{% extends 'base.html.twig' %}

{% block title %}Hello PublicacionController!{% endblock %}

{% block navegacion %}
<nav>
    <ul>
        <li><a href=""><img src="" alt=""></a></li>
        <li><a href=""><p></p></a></li>
        <li><a href=""><img src="" alt=""></a></li>
    </ul>
</nav>
{% endblock %}

{% block body %}

<table>
  <thead>
    <th>Publicaciones</th>
    <th>Descripción</th>
    <th>Respuestas</th>
    <th>Categoria</th>
    <th>Fecha</th>
  </thead>
  <tbody>
  {% for publicacion in listado_publicaciones %}
    <tr>
      <td>
         <a href="{{ path('publicacion-detalle', {id: publicacion.getId}) }}">{{ publicacion.getTitulo }}</a>
      </td>
      <td>{{ publicacion.getContenido }}</td>
      <td>4</td>
      <td>{{ publicacion.getCategoria }}</td>
      <td>{{ publicacion.getFecha | date('Y-m-d') }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<h3><span> << </span><span> < </span> Página 3 <span> > </span><span> >> </span></h3>

{% endblock %}
